:root {
    --primary-color: #f9f9f9;
    --secondary-color: #B0E0E6;
    --font-color: #333;
    --button-color: #ffffff;
    --bg_color_task: #b0e0e66c;
    --txt_color_task: #333;
}

.dark {
    --primary-color: rgb(32, 33, 36);
    --secondary-color: rgb(48, 49, 52);
    --font-color: rgb(200, 200, 200);
    --button-color: rgb(255, 255, 255);
    --bg_color_task: #d0d0d06c;
    --txt_color_task: #333;
}

.hidden {
    display: none;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    color: var(--font-color);
    margin: 0;
    transition: background-color 0.3s ease-in-out;
    
}

/* Cabeçalho da Página */
.cabecalho {
    background-color: var(--secondary-color);
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;

}

.selectBoard {
    width: 30%;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

select {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

button, input[type="button"] {
    background-color: var(--button-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.user {
    font-size: 16px;
    cursor: pointer;
}

main {
    text-align: center;
    margin: 50px;
}

.taskButton {
    font-size: 15px;
}

/*TESTE*/
.column-item {
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex: 1;  
    width: 500px;
    background-color: #007bff5c;  
  }
  
  .column-item {
    border: 1px solid var(--font-color);
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 0;
    width: 300px;
  }
  
  .column-header {
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--font-color);
    border-radius: 5pt;
  }
  
  .column-body {
    padding: 10px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 5pt;
  }
  
  .task-item {
    border: 1px solid var(--font-color);
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--bg_color_task);
    border-radius: 5px;
    color: var(--txt_color_task);
  }